{% extends "agenda/base_fullcalendar.html" %}
{% load i18n %}
{% block fullcalendar_init %}
<script type="text/javascript"> 
calendar = null;


$(document).ready(function(){
    
    var calendar = $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay',
        },
        selectable: true,
        selectHelper: true,
        editable: true,
        select: function(start, end, allDay) {
           pop_add_event_dialog(start, end, allDay);

        },
        eventClick: function(calEvent, jsEvent, view) {
            alert('clicked');
        },
        eventDrop: function(calEvent, delta) {
            alert('dropped');
        }
    });

    // automatically load ajax links within a modal dialog box
    $('a.ajax').click(function(){return pop_add_event_dialog(null,null,null);});
    
    $('#cals_to_show>:checkbox').each(function(){
        $(this).click(function(){
            update_calendars(this.checked, this.value);
        });
        update_calendars(this.checked, this.value);
    });

    // on form submit, add a the new event  
    $("#form_add_user_event").submit(function(){
        year, month, day = $("#id_user-date").val().split("-");
        hour = $("#id_user-start-hour").val();
        start_date = Date(year, month, day, hour);
        end_date = Date(year, month, day, int(hour) + int(id_user-duration));
        calendar.fullCalendar('renderEvent',
            {
                title: $("#id_user-name").val(),
                start: event_date,
                description: $("#id_user-place").val(),
                end: end_date,
                //allDay: allDay
            }, true // make the event "stick"
        ); 
        return false;
    });
});

function update_calendars(checked, value){
    var action = "add";
    if (checked == true)
        action = "add";
    else
        action = "remove";
    
    $('#calendar').fullCalendar(action + 'EventSource', "{% url agenda:get_planning %}"+
        value);
}

function pop_add_event_dialog(start, end, allDay)
{
    set_form_variables('#form_add_user_event', start, end, allDay);
    $("#form_add_user_event").dialog();
    //prevent the browser to follow the link
    return false;
}

function set_form_variables(selector, start, end, allDay){
    
}
</script>
{% endblock %}
{% block content %}
<h2>Calendar</h2>
<div id='calendar'></div> 
{% endblock %}
{% block menu %}
<ul>
    <li><a class="ajax" href="{% url agenda:add_user_event %}" />{% trans "Add user event" %}</a></li>
</ul>
<form id="cals_to_show">
<input type="checkbox" name="what" value="me">
{% trans "My Calendar" %}<br />
<input type="checkbox" name="what" value="classgroup">
{% trans "My Class Calendar" %}<br />
<input type="checkbox" name="what" value="campus">
{% trans "My Campus Calendar" %}<br />
<input type="checkbox" name="what" value="university">
{% trans "My University Calendar" %}<br />
</form>

<div id="add_user_event">
<form id="form_add_user_event">
   {{user_form.as_p}}
   <button>{% trans "create" %}</button>
</form>
</div>
{% endblock %}
