{% extends "agenda/base_fullcalendar.html" %}
{% load i18n %}
{% block fullcalendar_init %}
<script type="text/javascript"> 
calendar = null;
function update_selected_cal()
{
    if (this.checked==true)
        $('#calendar').fullCalendar('addEventSource', "{% url agenda:get_planning %}"+
                        this.value);
    else
        $('#calendar').fullCalendar('removeEventSource', "{% url agenda:get_planning %}"+
                        this.value);
}
function pop_add_event_dialog(start, end, allDay) {
        var url = "{% url agenda:add_user_event %}";
        var dialog = $('<div style="display:hidden"></div>').appendTo('body');
        // load remote content
        dialog.load(
            url, 
            {},
            function (responseText, textStatus, XMLHttpRequest) {
                    dialog.dialog({
                        modal: true,
                        width: '400px',
                    });
            }
        );
        //prevent the browser to follow the link
        return false;
    }


$(document).ready(function(){
    
    var calendar = $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay',
        },
        selectable: true,
        selectHelper: true,
        editable: true,
        select: function(start, end, allDay) {
           pop_add_event_dialog(start, end, allDay); 
        },
        eventClick: function(calEvent, jsEvent, view) {
            alert('clicked');
        },
        eventDrop: function(calEvent, delta) {
            alert('dropped');
        }
    });

    // automatically load ajax links within a modal dialog box
    $('a.ajax').click(function(){return pop_add_event_dialog(null,null,null);});
    
    for(w in document.cals_to_show.what)
    {
        document.cals_to_show.what[w].onclick = update_selected_cal;
        document.cals_to_show.what[w].onclick();
    }

});
</script>
{% endblock %}
{% block content %}
<h2>Calendar</h2>
<div id='calendar'></div> 
{% endblock %}
{% block menu %}
<ul>
    <li><a class="ajax" href="{% url agenda:add_user_event %}" />{% trans "Add user event" %}</a></li>
</ul>
<form name="cals_to_show">
<input type="checkbox" name="what" value="me">
{% trans "My Calendar" %}<br />
<input type="checkbox" name="what" value="classgroup">
{% trans "My Class Calendar" %}<br />
<input type="checkbox" name="what" value="campus">
{% trans "My Campus Calendar" %}<br />
<input type="checkbox" name="what" value="university">
{% trans "My University Calendar" %}<br />
</form>
{% endblock %}
