{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Place" %} {{place.id}}{% endblock %}
{% block content %}
<h2> {{place.name}}</h2>
    <div class="right">
        {% if can_update %}<a class="awesome small green button" href="{% url locations:update_place place.id %}">update</a>{% endif %}
        {% if can_delete %}<a class="awesome small red button" href="{% url locations:delete_place place.id %}">delete</a>{% endif %}
    </div>
        <p>{% trans "Adress: " %}{{place.address}}</p>
        <p>{% trans "Capacity: " %}{{place.capacity}} {% trans "persons" %}</p>
        <p>{% trans "This place belongs to " %}<a href="{% url locations:get_campus place.campus_id%}">{{place.campus.name}}</a> {% trans "campus" %}</p>

        <img src="http://maps.google.com/maps/api/staticmap?size=512x200&maptype=roadmap&markers=size:mid|color:red|{{ place.address }}&sensor=false" />
{% endblock %}
