{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Campus" %} {{campus.id}}{% endblock %}
{% block content %}
<h2>{{campus.name}}</h2>
    <div class="right">
        {% if can_update %}
        <a class="awesome small green button" href="{% url locations:update_campus campus.id %}">update</a>
        {% endif %}
        {% if can_delete %}
        <a class="awesome small red button" href="{% url locations:delete_campus campus.id %}">delete</a>
        {% endif %}
    </div>
        <p>{{ campus.address }}. {% trans "This campus belongs to " %}<a href="{% url locations:get_university campus.university_id %}">{{campus.university.name}}</a> {% trans "university" %}</p>

    {% if campus.classgroup_set %}
<h3>{% trans "Lis of classes for this campus" %}</h3>
<table id="classes">
<thead>
    <tr>
        <th>{% trans "Name " %}</th>
        <th>{% trans "Campus " %}</th>
        <th>{% trans "Students " %}</th>
    </tr>
</thead>
<tbody>
{% for classgroup in campus.classgroup_set.all %}
<tr class="{% cycle "even" "odd" %}">
    <td>
        <a href="{% url profiles:get_classgroup classgroup.id %}">
                 {{ classgroup.name }}
        </a>
    </td>
    <td>
        <a href="{% url locations:get_campus classgroup.campus.id %}">
                 {{ classgroup.campus.name }}
        </a>
    </td>
    <td>{{ classgroup.profile_set.count }}</td>
</tr>
{% endfor %}
</tbody>
</table>
    {% endif %}
    {% if campus.address %}
        <h3>{% trans "Localisation" %}</h3>
        <img src="http://maps.google.com/maps/api/staticmap?size=600x300&maptype=roadmap&markers=size:mid|color:red|{{ campus.address }}&sensor=false" />
    {% endif %}
{% endblock %}
