.fc-agenda .fc-event-time{
    background-color: #222;
    border-style: none;
}
.fc-event{
    background-color: #DAD867;
    border: 0px;
}

.fc-event-vert span.fc-event-bg{
    opacity: 0;
}

.my_user,.my_user a {
    background-color: #BEA074; 
}

.my_classgroup,.my_classgroup a {
    background-color: #329613; 
}

.mandatory, .mandatory a {
    background-color: #ce3a00;
}

.classgroup, .classgroup a {
    background-color: #0A50FF; 
}

.campus, .campus a {
    background-color: #C51925; 
}

.my_campus, .my_campus a {
    background-color: #0A9CCC; 
}

.classgroup-0, .classgroup-0 a {
    background-color: #F4C021; 
    color: #CCC;
}

.classgroup-1, .classgroup-1 a {
    background-color: #61a119; 
}

.classgroup-2, .classgroup-2 a {
    background-color: #329613; 
    color: #CCC;
}

.classgroup-3, .classgroup-3 a {
    background-color: #0550FF; 
}

