{% extends "agenda/base.html" %}
{% load i18n %}
{% block menu %}
<h2>{% trans "Pedagogy : " %}</h2>
<ul>
    <li><a href="{% url agenda:add_cursus %}">{% trans "add a cursus" %}</a></li>
    <li><a href="{% url agenda:list_cursuses %}">{% trans "list cursuses" %}</a></li>
	<li><a href="{% url agenda:add_studyperiod %}">{% trans "add a studyperiod" %}</a></li>
    <li><a href="{% url agenda:list_studyperiods %}">{% trans "list studyperiods" %}</a></li>
	<li><a href="{% url agenda:add_subject %}">{% trans "add a subject" %}</a></li>
    <li><a href="{% url agenda:list_subjects %}">{% trans "list subjects" %}</a></li>
	<li><a href="{% url agenda:add_subjectmodality %}">{% trans "add a subjectmodality" %}</a></li>
    <li><a href="{% url agenda:list_subjectmodalities %}">{% trans "list subjectmodalities" %}</a></li>
    <li><a href="{% url agenda:add_classgroup%}">{% trans "add a class" %}</a></li>
    <li><a href="{% url agenda:list_classgroups%}">{% trans "list classes" %}</a></li>
</ul>
{% endblock %}
