{% extends "agenda/pedagogy/base.html" %}
{% load i18n %}
{% block title %}{{ cursus.name }} {% trans "Cursus" %}{% endblock %}
{% block content %}
<h2>{{ cursus.name }}</h2>
<p> {% trans "Start date : " %} {{cursus.start_date}} </p>
<a class="awesome small red button" href="{% url agenda:delete_cursus cursus.id %}">delete</a>
<a class="awesome small green button" href="{% url agenda:update_cursus cursus.id %}">update</a> 
<br />
<br />
<br />
<h3>{% trans "Followers " %}</h3>
{% if cursus.classgroup_set.count %}
<table id="classes">
<thead>
    <tr>
        <th>{% trans "Name " %}</th>
        <th>{% trans "Campus " %}</th>
        <th>{% trans "Students " %}</th>
    </tr>
</thead>
<tbody>
{% for classgroup in cursus.classgroup_set.all %}
<tr class="{% cycle "even" "odd" %}">
    <td>
        <a href="{% url agenda:get_classgroup classgroup.id %}">
                 {{ classgroup.name }}
        </a>
    </td>
    <td>
        <a href="{% url agenda:get_campus classgroup.campus.id %}">
                 {{ classgroup.campus.name }}
        </a>
    </td>
    <td>{{ classgroup.profile_set.count }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
{% trans "there is no follower for this cursus, yet." %}
{% endif %}
{% endblock %}
