{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ subject.name }} {% trans "Subject" %}{% endblock %}
{% block content %}
<h2>{{ subject.name }}</h2>
<p> {% trans "Planned Hours : " %} {{subject.panned_hours}} </p>
{% if can_update %}<a class="awesome small green button" href="{% url pedagogy:update_subject subject.id %}">update</a>{% endif %}
{% if can_delete %}<a class="awesome small red button" href="{% url pedagogy:delete_subject subject.id %}">delete</a>{% endif %}
<br />
<br />
<br />

<div id="container" style="width: 700px; height: 400px; margin: 0 auto"></div> 
{% for modality in modalities %}

{% endfor %}
{% endblock %}

{% block additional_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/highcharts.js"></script> 
<!--[if IE]>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/excanvas.compiled.js"></script>
<![endif]-->
<script type="text/javascript">
var chart;
        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    margin: [50, 200, 60, 170]
                },
                title: {
                    text: '{{ subject.study_period.cursus.name }} - {{ subject.study_period.name }} - {{ subject.name }} {% trans "modalities repartition" %}'
                },
                plotArea: {
                    shadow: null,
                    borderWidth: null,
                    backgroundColor: null
                },
                tooltip: {
                    formatter: function() {
                        return '<b>'+ this.point.name +'</b>: '+ this.y +' h';
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        dataLabels: {
                            enabled: true,
                            formatter: function() {
                                if (this.y > 5) return this.point.name;
                            },
                            color: 'white',
                            style: {
                                font: '13px Trebuchet MS, Verdana, sans-serif'
                            }
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    style: {
                        left: 'auto',
                        bottom: 'auto',
                        right: '50px',
                        top: '100px'
                    }
                },
                    series: [{
                    type: 'pie',
                    name: 'Browser share',
                    data: [
                    {% for modality in modalities %}
                        ['{{ modality }}', {{ modality.planned_hours }}],
                    {% endfor %}
                    ]
                    //data: [3.40, 1.05, 2.90, 1.65, 1.35, 2.59, 1.39, 3.07, 2.82]
                }]
            });
            
            
        });
</script>
{% endblock %}
