{% extends "base.html" %}
{% load i18n %}
{% load utils_tags %}
{% load uni_form_tags %}
{% block title %}{% blocktrans %} {{obj_verbose_name}}'s List{% endblocktrans %}{% endblock %}
{% block additional_js %}
{% if form %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#link_add").click(function(){
                var add_form = $("#add-object-form");
                if (add_form.css("display") == "none"){
                    add_form.show(200);
                    $(this).html("{% trans "Submit the form !" %}");
                    $(this).removeClass("green");
                    $(this).addClass("red");
                    $(".belongs-form").show();
                } else {
                    // we just have clicked to submit the form, so do it.
                    $("#real-add-form").submit();
                }
                
                return false;
            });

            $("#link_hide_add").click(function(){
                var add_form = $("#add-object-form");
                add_form.hide(200);
                $("#link_add").html("{% trans "Add "%} {{obj_verbose_name}} →");
                $("#link_add").addClass("green");
                $("#link_add").removeClass("red");
                $(".belongs-form").hide();
            });
            $("input").focus(function() {
                 $(this).parent().addClass("curFocus");
            });
        });
    </script>
{% endif %}
{% endblock %}
{% block content %}
{% block toplinks %}
<a id="link_add" class="awesome large green button right" style="margin-top:8px !important;" href="{% get_url app_name ":add_" obj_name %}">{% block add_link_name %}
{% trans "Add "%} {{obj_verbose_name}} →{% endblock %}</a>
{% endblock %}
{% block creation_form %}

{% if form %} 
<h2 class="belongs-form" style="display: none">{% trans "Add "%} {{obj_verbose_name}} </h2>
<div id="add-object-form" class="clear">
    <a id="link_hide_add" class="awesome right" >{% trans "hide the form" %}</a>
    <form id="real-add-form" action="{% get_url app_name ":add_" obj_name %}" method="post" accept-charset="utf-8">
        {% if message %}
         <p class="info">{{ message }}</p>
        {% endif %}
        {{ form|as_uni_form }}
    </form>
    <div class="clear"></div>
</div>
{% endif %}
{% endblock %}
   <h2 >{% blocktrans %} The list of {{obj_verbose_name}} {% endblocktrans %}</h2>    
{% if elements %}
<table id="classgroups">
<thead>
    <tr>
        {% for element0 in elements.values.0 %}
        <th> {{ element0.0 }}</th>
        {% endfor %}
        <th>{% trans "Actions" %}</th>
    </tr>
</thead>
<tbody>
{% for id, element in elements.items %}
<tr class="{% cycle "even" "odd" %}">
    {% for key, value in element %}
    <td>
    {{value}} 
    </td>
    {% endfor %}
    <td>
    {% block item_actions %}
        {% block get_button %}<a class="awesome small blue button" href="{% get_url app_name ":get_" obj_name id %}">view</a>{% endblock %}
        {% block update_button %}<a class="awesome small green button" href="{% get_url app_name ":update_" obj_name id %}">update</a>{% endblock %}
        {% block delete_button %}<a class="awesome small red button" href="{% get_url app_name ":delete_" obj_name id %}">delete</a>{% endblock %}
    {% endblock %}
    {% block additional_item_actions %}{% endblock %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<br />
<br />
<br />
{% blocktrans %} there is no {{obj_verbose_name}}, yet.{% endblocktrans %}
{% endif %}
{% endblock %}
