{% extends "base_fullcalendar.html" %}
{% load i18n %}
{% load uni_form_tags %}
{% block fullcalendar_init %}
<script type="text/javascript"> 
calendar = null;




$(document).ready(function(){
    
    var calendar = $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay',
        },
        theme: true,
        selectable: true,
        selectHelper: true,
        editable: true,
        select: function(start, end, allDay) {
           pop_add_event_dialog(start, end, allDay);

        },
        eventClick: function(calEvent, jsEvent, view) {
        },
        eventDrop: function(calEvent, days, minutes, allDay) {
            $.post("{% url events:move_event %}"+calEvent.id,
            {"days" : days, "minutes" : minutes, "all_day": allDay});
        }
    });
    calendar_manager = new CalendarManager($('#calendar'), 
    "{% url events:display_calendar %}");


    $('#cals_to_show>:checkbox').each(function(){
        new CalendarCheckbox($(this), calendar_manager);
    });


    // automatically load ajax links within a modal dialog box
    $('a.ajax').click(function(){return pop_add_event_dialog(null,null,null);});
    
    new CalendarSubmiter($('#form_add_user_event'), calendar_manager, "my_user");

});

function update_calendars(checked, value){
    var action = "add";
    if (checked == true)
        action = "add";
    else
        action = "remove";
    
    $('#calendar').fullCalendar(action + 'EventSource', "{% url events:get_planning %}"+
        value);
}

function pop_add_event_dialog(start, end, allDay)
{
    set_form_variables('#form_add_user_event', start, end, allDay);
    $("#form_add_user_event").dialog({
        modal: true, 
        buttons: {
            Ok: function() {
                $("#form_add_user_event").submit();
                $(this).dialog('close');
            }
        }, 
        width: 500,
        height: 500,
        title: "{% trans "Add an event to your personnal calendar" %}",
    });
    //prevent the browser to follow the link
    return false;
}

function set_form_variables(selector, start, end, allDay){
    
}
</script>
{% endblock %}
{% block content %}
<h2>Calendar</h2>
<p class="info">{% trans "Here you can <strong>view, add or edit the different plannings</strong>, depending on the rights you have. Click on the calendar to create a new event on your agenda !" %}</p>
<div id='calendar'></div> 
{% endblock %}
{% block menu %}
<form id="cals_to_show">
<input type="checkbox" name="what" value="my_user" checked="1">
{% trans "My Calendar" %}<br />
{% if user.get_profile.is_student %}
<input type="checkbox" name="what" value="my_classgroup" checked="1">
{% trans "My Class Calendar" %}<br />
<input type="checkbox" name="what" value="my_campus">
{% trans "My Campus Calendar" %}<br />
<input type="checkbox" name="what" value="my_university">
{% trans "My University Calendar" %}<br />
{% endif %}
</form>

<div id="add_user_event" style="display: none;">
<form id="form_add_user_event">
<p class="info width-400">{% trans "Here you can add events to your personal agenda. Just full in the fields, click ok and you event will be created !" %}</p>
   {{user_form|as_uni_form}}
</form>
</div>
{% endblock %}
