{% extends "base_fullcalendar.html" %}
{% load i18n %}
{% block fullcalendar_init %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript"> 
calendar = null;
last_class_event_source = null;

$(document).ready(function(){
    var calendar = $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay',
        },
        theme: true,
        selectable: true,
        selectHelper: true,
        editable: true,
        select: function(start, end, allDay) {
           pop_add_event_dialog(start, end, allDay);

        },
        eventClick: function(calEvent, jsEvent, view) {
            alert('clicked');
        },
        eventDrop: function(calEvent, days, minutes, allDay) {
            alert(calEvent.id + " " + days + " " + minutes + " " + allDay);
            $.post("{% url events:move_user_event %}"+calEvent.id,
            {"days" : days, "minutes" : minutes, "all_day": allDay});
        }
    });

    // automatically load ajax links within a modal dialog box
    $('a.ajax').click(function(){return pop_add_event_dialog(null,null,null);});
    
    $('#cals_to_show>:checkbox').each(function(){
        $(this).click(function(){
            update_calendars(this.checked, this.value);
        });
        update_calendars(this.checked, this.value);
    });

    // on form submit, add a the new event  
    $("#form_add_user_event").submit(function(){
        var datearray = $("#id_user-date").val().split("-");
        var year = datearray[0];
        var month = parseInt(datearray[1]) - 1;
        var day = datearray[2];
        hour = $("#id_user-start_hour").val();
        duration = $("#id_user-duration").val();
        start_date = new Date(year, month, day, hour);
        end_date = new Date(year, month, day, parseInt(hour) + parseInt(duration));
        // make a post ajax request with the data to save
        $.post("{% url events:add_user_event %}", $(this).serialize(), 
             function(data) {calendar.fullCalendar('renderEvent', data)}, "json");
        return false;
    });

    $("#id_cg_selector-classgroup").change(function () {
          $('#calendar').fullCalendar(
                'removeEventSource',  last_class_event_source)
          last_class_event_source = null;
          $("#id_cg_selector-classgroup option:selected").each(function () {
            if($(this).val()!="")
            {
                last_class_event_source =  "{% url events:get_planning 'classgroup' %}"
                    + "/" + $(this).val();
                $('#calendar').fullCalendar(
                    'addEventSource',  last_class_event_source)
            }
          });
        })
        .change();
});

function update_calendars(checked, value){
    var action = "add";
    if (checked == true)
        action = "add";
    else
        action = "remove";
    $('#calendar').fullCalendar(action + 'EventSource', "{% url events:get_planning %}"+
        value);
}

function pop_add_event_dialog(start, end, allDay)
{
    $("#add_event_dialog").dialog({
        modal: true,
        open: function(){$("#tabs").tabs(); init_all_forms(start, end, allDay);}});
    return false;
}

function init_all_forms(start, end, allDay){
    
}




</script>
{% endblock %}
{% block content %}
<h2>Calendar</h2>
<p class="info">{% trans "Here you can <strong>view, add or edit the different plannings</strong>, depending on the rights you have. Click on the calendar to create a new event on your agenda !" %}</p>
<div id='calendar'></div> 


<div id="add_event_dialog" style="display: none;">
    <div id="tabs">
    <ul>
        <li><a href="#fragment-1"><span>Class</span></a></li>
        <li><a href="#fragment-2"><span>Campus</span></a></li>
    </ul>
    <div id="fragment-1">
        <form id="form_add_classgroup_event">
           {{classgroup_form.as_p}}
        </form>
    </div>
    <div id="fragment-2">
        <form id="form_add_campus_event">
           {{campus_form.as_p}}
        </form>
    </div>
    </div>
</div>


{% endblock %}
{% block menu %}
<form id="cals_to_show">
<input type="checkbox" name="what" value="my_classgroup" checked="1">
{% trans "My Class Calendar" %}<br />
<input type="checkbox" name="what" value="my_campus">
{% trans "My Campus Calendar" %}<br />
<input type="checkbox" name="what" value="my_university">
{% trans "My University Calendar" %}<br />
</form>
<form id="classgroup_selector"> 
 {{ classgroup_selector_form.classgroup }}
</form>
{% endblock %}
