{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{% block title %}EasyTimeTable{% endblock %}</title>
    {% block css %}

    <!-- Blueprint CSS framework -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->

    <!-- Awesome buttons CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/theme/jquery-ui.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/awesome.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.gritter.css" type="text/css" media="screen, projection">

    <!-- Other styles -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/superfish.css" media="screen">

    <!-- Javascript -->
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.gritter.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/init.js"></script>

    <! -- Uniform -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form-generic.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form.css" type="text/css" />
    <script src="{{ MEDIA_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script>

    {% endblock %}
    {% block additional_css %}{% endblock %}
    {% block additional_js %}{% endblock %}
</head>
<body>
    <div class="container" class="span-24"> 
    <div class="span-32 last">
    <h1 id="title"><a href="/">Easy Time Table <strong>Online</strong></a></h1>
    <span id="subtitle">an easy loutre calendar system</span>
    {% block htmltitle %}<h1 id="htmltitle" class="left">Super Title here !</h1>{% endblock %}
    </div>
		<ul class="sf-menu">
			<li class="current">
				<a href="{% url index %}">{% trans "Home" %}</a>
			</li>
			<li>
				<a href="">Locations</a>
				<ul>
					<li>
						<a href="{% url locations:list_campuses %}">{% trans "Campuses" %}</a>
					</li>
					<li>
						<a href="{% url locations:list_places %}">{% trans "Places" %}</a>
					</li>
					<li>
						<a href="{% url locations:list_universities %}">{% trans "Universities" %}</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Pedagogy</a>
				<ul>
					<li>
						<a href="{% url profiles:list_classgroups %}">{% trans "Class Groups" %}</a>
					</li>
					<li>
						<a href="{% url pedagogy:list_cursuses %}">{% trans "Cursuses" %}</a>
					</li>
					<li>
						<a href="{% url pedagogy:list_studyperiods %}">{% trans "Study Periods" %}</a>
					</li>
					<li>
						<a href="{% url pedagogy:list_subjects %}">{% trans "Subjects" %}</a>
					</li>
					<li>
						<a href="{% url pedagogy:list_subjectmodalities %}">{% trans "Subject Modalities" %}</a>
					</li>
				</ul>

			</li>
            <li>
                <a href="">Time Organisation</a>
                <ul>
		    	    <li>
		        		<a href="{% url events:display_calendar %}">{% trans "My Events" %}</a>
		        	</li>
		    	    <li>
		        		<a href="{% url events:display_campus_mgr_calendar %}">
                        {% trans "Campus Events" %}</a>
		        	</li>
                 </ul>
            </li>
            <li>
                <a href="">{% trans "User management" %}</a>
                <ul>
                    <li><a href="{% url profiles:list_students %}">{% trans "Student's" %}</a></li>
                    <li><a href="{% url profiles:list_campus_managers %}">{% trans "Campus managers" %}</a></li>
                    {% comment %}
                    <li><a href="{% url profiles:list_cursus_managers %}">{% trans "Cursus managers" %}</a></li>
                    <li><a href="{% url profiles:list_teachers %}">{% trans "Teachers" %}</a></li>
                    {% endcomment %}
                </ul>
            </li>
		</ul>
    <hr />
    {% block messages %}
       {% if messages %}
            <script type="text/javascript">
            {% for message in messages %}
            $.gritter.add({
                title: 'Information',
                text: '{{ message }}' 
            });
            {% endfor %}
            </script>
        {% endif %}   
    {% endblock %}
    <div id="content" class="span-18">
    {% block content %}
    lapin 
    {% endblock %}
    </div>
    <div id="menu" class="span-6 last">
    {% block login_menu %}
    {% if user.is_authenticated %}
    {% trans "You're " %}{{ user.username }}.
    <a href="{% url logout %}">{% trans "logout" %}</a>
    {% else %}
    <a href="{% url login %}">{% trans "login" %}</a>
    {% endif %}
    {% endblock %}
    {% block menu %}
    menu here.
    {% endblock %}
    </div>
</body>
</html>
