/**
 * CSS files for Easy Time Table Online v0.1
 *
 * @author Alexis Métaireau, Julien Grande, Guillaume Espanel and Nicolas Morel
 */

/* @FontFace is avalaible from CSS3. Let's use it! */
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);

/* Internal imports */
@import url("blueprint/screen.css");
@import url("blueprint/plugins/liquid.css");
@import url("superfish.css");
@import url("awesome.css");
@import url("jquery.gritter.css");
@import url("theme/jquery-ui.css");


#htmltitle{
    font-family: 'Reenie Beanie', arial, serif;
}

#title{
    text-align: right;
    font-family: 'Yanone Kaffeesatz', arial, serif;
}

#title a{
    text-decoration: none;
    color: #000;
    background: url(note.gif) no-repeat top right;
    padding-right: 44px;
}

#subtitle{
    display: none;
    margin-top: -30px;
    margin-left: 20px;
    font-family: 'Reenie Beanie', arial, serif;
    font-size: 30px;
}

/** 
 * Some basic elements skinning
 */

p {
    text-align: justify;
}

#content a{
    text-decoration: underline;
    color: #000;
}

#content a:hover {
    background-color: #222;
    color: #fff;
}

/**
 * Reusable css classes
 */
.right {
    float: right;
}

.left {
    float: left;
}

.info {
    background: url(tip.gif) no-repeat #fff;
    width: 500px;
    margin: 20px;
    padding: 2px 20px 5px 45px;
}

.width-400 {
    width: 370px;
}
/**
 * Tables styles
 */
tr.even td  { background: #eaeaea; }
thead th    { 
    background: #222; 
    color: #eaeaea;
}

/**
 * Display forms with the label aligned and centered
 */
form label {
    color:black;
    float:left;
    font-style:normal;
    font-weight:normal;
    line-height:26px;
    padding-right:10px;
    text-align:right;
    width:140px;
}

form button {
    margin-left: 50px;
    width: 200px;
}

.input{
    width: 140px;
    left: 150px;
}

.formHint{
    padding-left: 150px;
}

input:focus {
      background: #eaeaea;
}

.ui-datepicker-inline{
    display: none;
}

/**
 * Some stuff related to the event adds
 *
 * Maybe to move to another file ?
 */

#add-button{
    float: right;
    right: 20px;
    top: 30px;
}

#add-object-form{
    display: none;
}

#real-add-form{
    margin-bottom: 30px;
}

#cals_to_show{
    margin-top: 100px;
}

/**
 * Calendar
 */
.fc-header-title{
    margin-left: 20px; 
    line-height: 1.2em;
}
