tr.even td  { background: #eaeaea; }
thead th    { 
    background: #222; 
    color: #eaeaea;
}
p {
    text-align: justify;
}

form label {
    color:black;
    float:left;
    font-style:normal;
    font-weight:normal;
    line-height:26px;
    padding-right:10px;
    text-align:right;
    width:100px;
}

form button {
    margin-left: 50px;
    width: 200px;
}

.right {
    float: right;
}

.left {
    float: left;
}

#add-button{
    float: right;
    right: 20px;
    top: 30px;
}

#add-object-form{
    display: none;
}

a{
    text-decoration: none;
    color: #000;
}
