{% extends "agenda/locations/base.html" %}
{% load i18n %}
{% block title %}{% trans "List Universities" %}{% endblock %}
{% block content %}
<h2>{% trans "The list of universities" %}</h2>
{% if universities %}
<table id="universities">
<thead>
    <tr><th>{% trans "Universities" %}</th><th>{% trans "Actions" %}</th></tr>
</thead>
<tbody>
{% for university in universities %}
<tr class="{% cycle "even" "odd" %}">
    <td>{{ university }}</td>
    <td>
        <a class="awesome small red button" href="{% url agenda:delete_university university.id %}">delete</a></li>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
{% trans "there is no universities, yet." %}
{% endif %}
{% endblock %}
