{% extends "base.html" %}
{% load i18n %}
{% load uni_form_tags %}
{% block title %}Log in{% endblock %}
{% block content %}
<h2>Log in</h2>
<div class="info">{% blocktrans %}
<p>For the demo need, you can connect yourself with the following accounts. 
All passwords are set to "<em>password</em>", excepted if specified below.</p>

<dl>
    <dt>Administrator</dt>
    <dd>admin (password "admin" too)</dd>
    <dt>Campus manager</dt>
    <dd>dross</dd>
    <dt>Simple User</dt>
    <dd>rking</dd>
</dl>
{% endblocktrans %}
</div>
<form action="" method="post" accept-charset="utf-8">
{{ form|as_uni_form }} 
<p><input class="awesome input" type="submit" value="{% trans "Login" %}"></p>
</form>
{% endblock %}
